@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .h-screen {
    height: var(--screenHeight);
  }
}
@layer base {
	@font-face {
		font-family: 'AlbertSans';
		src: url('/fonts/AlbertSans/AlbertSans-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'AlbertSans';
		src: url('/fonts/AlbertSans/AlbertSans-Italic-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'RedHatMono';
		src: url('/fonts/RedHatMono/RedHatMono-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: normal;
		font-display: swap;
	}

  :root {
    --vh: 1vh;
    --screenHeight: calc(var(--vh, 1vh) * 100);
    --screenSemiHeight: calc(var(--vh, 1vh) * 50);
  }

  html, body, #__next {
    width: 100vw;
    min-height: var(--screenHeight);
		@apply font-sans text-gray-900 antialiased;
  }
}

.tooltip {
	position: fixed;
	pointer-events: none;
	padding: 0.75em;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 0.5em;
	box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.15);
	animation: fade-in 0.25s ease;
	font-size: 0.9em;
  }
  .tooltip__title {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
  }
  .tooltip__table {
	border-collapse: collapse;
  }
  .tooltip__table td {
	border: 1px solid;
	padding: 0.25em;
  }
  

  .fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
      visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
 
  .box {
	/* padding: 40px; */
	margin: 5px 0;
  }
  
  .box span {
	/* background-color: rgba(255, 255, 255, 0.5); */
	display: inline-block;
	padding: 5px;
	border-radius: 1px;
	color: #ffffff;
  }
