@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .h-screen {
    height: var(--screenHeight);
  }
}
@layer base {
	@font-face {
		font-family: 'AlbertSans';
		src: url('/fonts/AlbertSans/AlbertSans-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'AlbertSans';
		src: url('/fonts/AlbertSans/AlbertSans-Italic-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: italic;
		font-display: swap;
	}
	@font-face {
		font-family: 'RedHatMono';
		src: url('/fonts/RedHatMono/RedHatMono-VariableFont_wght.woff2?v=3.18') format('woff2-variations');
		font-weight: 200 800;
		font-style: normal;
		font-display: swap;
	}

  :root {
    --vh: 1vh;
    --screenHeight: calc(var(--vh, 1vh) * 100);
    --screenSemiHeight: calc(var(--vh, 1vh) * 50);
  }

  html, body, #__next {
    width: 100vw;
    min-height: var(--screenHeight);
		@apply font-sans text-gray-900 antialiased;
  }
}
